{
  "logLevel": "debug",
  "mongoConnectStr": "mongodb://localhost:27017/local",
  "siterootHost": "localhost:3000",
  "PORT": "3000",
  "requireHTTPS": false,
  "forceDomain": false,
  "sessionSecret": "keyboardcathere",
  "client": {
  },
  "sso": {
    "facebook": {
      "appid": "",
      "secret": ""
    },
    "twitter": {
      "key": "",
      "secret": ""
    },
    "google": {
      "clientid": "",
      "secret": ""
    },
    "linkedin": {
      "key": "",
      "secret": ""
    }
  }
}
